<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>一箱古本市</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>

<ul>
  <li>
    <h1 class="list_article">
  <% @articles.each do |article| %>
    </h1>
    <div class="article-left">
      <img src="<%="/user_images.jpg/#{@user.image_name}"%>">
      </div>
      <div class="article-user-name">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
    <h2 class="title">
      <%=  link_to(article.title, "/articles/#{article.id}") %>
    </h2>
    <!<% if article.image != "" %>>
    <p class="index-day">
      <%= article.day %></p>
    <% end %>

    <p><%= article.created_at %></p>
  </li>
  <% end %>
</ul>

<%= paginate(@articles) %>
</body>
</html>
