<div class="contents row">
  <a href="/">一覧にもどる</a>
  </div>
  <%= form_tag('/create', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <div class="form">



      <div class="form-body">
        <% @article.errors.full_messages.each do |message| %>
        <div class ="form-error">
          <%= message %>
          </div>
          <% end %>
          <textarea name="title" placeholder="タイトル"><%= @article.title %></textarea>
          <textarea name="day" placeholder="場所"><%= @article.day %></textarea>
          <textarea name="content" placeholder="記事を書いてください" rows="10" cols="50"><%= @article.content %></textarea>
          <input type="submit" value="保存" class="btn-submit">
    </div>
    </div>
  <% end %>
