<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images.jpg/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <% @likes.each do |like| %>

      <% article = Article.find_by(id: like.article_id) %>

      <div class="articles-index-item">
        <div class="article-left">
          <img src="<%= "/user_images.jpg/#{article.user.image_name}" %>">
        </div>
        <div class="article-right">
          <div class="article-user-name">
            <%= link_to(article.user.name, "/users/#{article.user.id}") %>
          </div>
          <%= link_to(article.content, "/articles/#{article.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
