<!DOCTYPE html>
<html>
  <head>
    <title>Hitohako</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("home","/") %>
        <%= link_to("新規投稿", "/articles/new", {class: "new"}) %>
        </div>
        <ul class="heder-menus">
        </ul>
        </header>
        <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
          </div>
          <% end %>
    <%= yield %>
  </body>
</html>
