<!DOCTYPE html>
<html>
  <head>
    <title>Hitohako</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="rgba">
    <header>
      <%= link_to("全国一箱古本市","/", {class: "header"}) %>
      </header>
    <div class="header-logo">一箱店主さんの力になるべく、全国の一箱古本市の情報を紹介しています。
    <li>随時更新中！</li>
    </div>
      <div class="container">
        <div class="header-left">
        </div>
        </div>
      <div class="logo">
        <%= link_to("home","/" , {class: "home"}) %>
        <%= link_to("新規投稿", "/articles/new", {class: "new"}) %>
        <%= link_to("ユーザー一覧", "/users/index", {class: "usersindex"}) %>
        </div>
        <ul class="heder-menus">
        </ul>

        </div>

        <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
          </div>


          <% end %>
    <%= yield %>
  </body>
</html>
