<!DOCTYPE html>
<html>
  <head>
    <title>nihon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- コード追加　Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="rgba">
    <header>
      <%= link_to("日本非日常ツアー","/", {class: "header"}) %>
      </header>
    <div class="header-logo">B級スポットや知られざる観光地を投稿するサービスです！
    <li>随時更新中！</li>
    </div>
      <div class="container">
        <div class="header-left">
        </div>
        </div>
      <div class="logo">
        <ul class="header-menus">
          <% if @current_user %>

          <li>
        <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
        <%= link_to("home","/" , {class: "home"}) %>
        <%= link_to("新規投稿", "/articles/new", {class: "new"}) %>
        <%= link_to("ユーザー一覧", "/users/index", {class: "usersindex"}) %>
        <%= link_to("ログアウト", "/logout", {method: :post}) %>

        <% else %>
        <%= link_to("home","/" , {class: "home"}) %>
        <%= link_to("新規登録", "/users/signup", {class: "signup"}) %>
        <%= link_to("ログイン", "/login") %>

        <% end %>

      </ul>
        </div>
        </div>

        <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
          </div>


          <% end %>
    <%= yield %>
  </body>
</html>
